@font-face {
    font-family: "slabo";
    src: url("fonts/Slabo_27px/Slabo27px-Regular.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "robotothin";
    src: url("fonts/Roboto/Roboto-Thin.ttf");
}

.small_things{
    font-family: "robotothin";
    font-size: 70%;
    color: cornflowerblue;
}

.center_me {
    margin: auto;
    text-align: center;
}

.big_title {
    font-family: "robotothin";
    font-size:400%;
    margin-top:50px;
    color: dodgerblue;
}

.radios {
    margin-top:20px;
}

.labels {
    font-size: 120%;
}

input {
    color: black !important;
    text-align: center;
}

.space_form {
    font-family: "roboto";
}

.legend {
    font-size: 150%;
    color: white !important;
}

.big_bt {
    margin-top: 25px;
    font-size: 140%;
}

html {
    background-image: url("../images/backgrounds/footer_lodyas.png");
    background-repeat: repeat;
    color:white;
}